/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color:black;
}


/*--------------------- NAV BAR ------------------------------*/

.navBar {
    list-style-type: none;
    margin: 0;
    padding-right: auto;
    float: right;
    margin-right: 32px;
    margin-top: 10px;
}

.navBarItem {
    display: inline;
    padding-left: 10px;
}

.mainTitle{
    text-shadow: -2px 4px 0 grey;
}


/*--------------------- Log In ------------------------------*/

#loginBack{
    overflow: hidden;
}

#loginBack::after {
    content: "";
    background: url(Images/back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: auto;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    transform: rotate(20deg) scale(2) rotateY(200deg);
}

#login{
    background: white; 
    height: 500px; 
    width:400px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 100px;*/
    margin-bottom: 25px;
    border-radius: 0.5em; /*antes 5% */
    border: 1px solid white;
    box-shadow : 0 0 15px 0 #444; 
}
    
input {
    width: 85%;
    padding: 1px 20px;
    margin: 8px 0;
    box-sizing: border-box;  
}

#butLog{
    margin: 0;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background: linear-gradient(to bottom right, #5865b9, #3993d8);
    box-shadow : 0 0 15px 0 #444;   
    margin-left: 13%;
    height: 75px;
    width: 300px;
    border-radius: 0.5em; /*antes 5% */
    border: 0px solid red;
}

/*--------------------- Slider ------------------------------*/


.slider{
    position: relative;
    left: 1%;
    width: 97%;
    height: auto;
    overflow: hidden;
}

.slider-inner{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 142%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(100px,1fr));*/
    gap: 8px;
    pointer-events: none;
    transition: 0s ease-in;
}

.slider-img{
    height: auto;
    background-color: black; /*Poner purple*/
    text-align: center;
    padding: 0px;
   /* padding: 3rem; */
}